.abi2{
      background:#93FF33;
   height: 250px;
   width:800px;
   margin:auto;}
 
 .abi3{
      background:#F08080;
   height: 600px;
   width:800px;
   margin:auto;}
   
   .abi4{
      background:#19E4E1;
   height: 600px;
   width:800px;
   margin:auto;}
   
   .abi5{
      background:#F5EE1F;
   height: 600px;
   width:800px;
   margin:auto;}
   
   .abi6{
      background:#E5B8F1;
   height: 250px;
   width:800px;
   margin:auto;}
   
   .abi7{
      background:#F7B76A;
   height: 250px;
   width:800px;
   margin:auto;}
   
   .abi8{
      background:#6A95F7;
   height: 850px;
   width:800px;
   margin:auto;}
   
    .abi10{
      background:#E5B8F1;
   height: 600px;
   width:800px;
   margin:auto;}